.app > .app-header {
  background-color: #fff;
  height: 62px;
  display: flex;
  min-height: 62px;
  max-height: 62px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  align-items: center;
  z-index: 100; }

.app > .app-nav-content {
  margin-top: 62px; }
  .app > .app-nav-content > .app-nav {
    width: 74px;
    min-width: 74px;
    max-width: 74px;
    overflow-x: hidden;
    display: flex;
    position: fixed;
    left: 0;
    height: calc(100% - 62px);
    z-index: 5;
    transition: 0.134s ease-in-out all; }
    @media screen and (max-width: 960px) {
      .app > .app-nav-content > .app-nav {
        background-color: #fff;
        margin-left: -220px;
        box-shadow: 1px 1px 20px 9px rgba(0, 0, 0, 0.13); } }
  @media screen and (min-width: 961px) {
    .app > .app-nav-content:not(.active) > .app-nav:hover {
      width: calc(220px + 21px);
      min-width: calc(220px + 21px);
      max-width: calc(220px + 21px);
      background-color: #fff;
      padding-right: 21px;
      box-shadow: 1px 1px 18px 1px rgba(217, 217, 217, 0.678431); } }
  .app > .app-nav-content.active > .app-nav {
    margin-left: 0;
    width: 220px;
    min-width: 220px;
    max-width: 220px; }
  .app > .app-nav-content > .app-content {
    z-index: 3;
    transition: 0.134s ease-in-out all; }
    @media screen and (max-width: 960px) {
      .app > .app-nav-content > .app-content {
        margin-left: 0 !important; } }
    @media screen and (min-width: 961px) {
      .app > .app-nav-content > .app-content {
        margin-left: calc(74px + 0px); } }
  .app > .app-nav-content.active > .app-content {
    margin-left: calc(220px + 0px); }
  @media screen and (max-width: 960px) {
    .app > .app-nav-content.active > .app-nav-bg-drop {
      position: absolute;
      background-color: #000;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0.345;
      transition: 0.3s all ease-in-out;
      z-index: 4; } }

.app-nav-content > .app-content .lyt-cnt > ._hdr {
  display: flex;
  align-items: center;
  height: 42px;
  border-bottom: 1px solid #f3f3f3;
  position: fixed;
  width: calc(100% - (2*21px));
  top: 62px;
  z-index: 3;
  background-color: #fff;
  padding: 0 21px;
  box-shadow: 5px 3px 9px 0px rgba(105, 100, 100, 0.0705882); }
  @media screen and (min-width: 961px) {
    .app-nav-content > .app-content .lyt-cnt > ._hdr {
      width: calc(100% - 74px - (2*21px)); } }
  .app-nav-content > .app-content .lyt-cnt > ._hdr > ._ttl {
    display: flex;
    align-items: center;
    font-size: 21px;
    color: #444;
    font-weight: 400;
    text-shadow: 0px 0px 0px rgba(32, 33, 36, 0.68); }
  .app-nav-content > .app-content .lyt-cnt > ._hdr > ._right {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end; }

.app-nav-content > .app-content .lyt-cnt > ._cont {
  padding: 21px 21px;
  z-index: 1;
  position: relative;
  top: 42px;
  animation: pageSlide 0.1s ease-out;
  min-height: calc(100vh - (2 * 62px) - 42px); }
  .app-nav-content > .app-content .lyt-cnt > ._cont > ._full-page-loader {
    position: absolute;
    top: 0;
    left: 0;
    height: calc(100% - 62px - 42px);
    width: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5; }
    .app-nav-content > .app-content .lyt-cnt > ._cont > ._full-page-loader > ._cont_ {
      display: flex;
      justify-content: center;
      align-items: center; }
      .app-nav-content > .app-content .lyt-cnt > ._cont > ._full-page-loader > ._cont_ > ._title {
        margin-left: 21px; }

@media screen and (min-width: 961px) {
  .app-nav-content.active > .app-content .lyt-cnt > ._hdr {
    width: calc(100% - 220px - (2*21px)); } }
