@import './../../sass/util/mixins.sass'
@import './../../sass/util/vars.sass'
._setting
	& ._st_items
		margin: 0 21px
		&>._itm
			padding: 21px 0
			align-items: center
			border-bottom: 1px solid rgba(217, 217, 217, 0.39)
			& input[type=text]
				min-width: 100%
			&>.label
				font-size: 15px
				font-weight: 500
				color: #222
			&>.field
				position: relative
				& .input
					width: 85%
					+media-only-mobile
						width: 80%
				&>._msg
					position: absolute
					bottom: -17px
					left: 0
					font-size: 12px
					font-weight: 500
					+media-only-mobile
						position: relative
						bottom: -5px

